*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
    transition: .5s;
}
:root{
    --primary-color: #fff;
    --second-color: #000;
    --third-color: #393939;
}
.dark-mode{
    --primary-color: #000;
    --second-color: #fff;
    --third-color: #fff;
}
body{
    background-color: var(--primary-color);
}
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
#MENU1{
    display: none;
}
.navbar{
    background-color: var(--primary-color);
}
.navbar-nav{
    display: flex;
    justify-content: end;
}
#logo{
    font-size: 30px; 
    text-decoration: none;
    color: var(--second-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#logo:hover{
    color: var(--second-color);
}
.nav-item a{
    font-size: 18px;
    display: inline-block;
    color: var(--second-color);
}
.nav-item a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--second-color);
    transition: width .3s;
}
.nav-item a:hover::after{
    width: 100%;
}
#icon, #icon1{
    width: 20px;
    cursor: pointer;
}
#menu{
    width: 25px;
}
#p{
    background-image: none;
    position: relative;
}
h1{
    font-size: 50px;
    font-family: 'Architects Daughter', cursive;
    margin-left: 30px;
}
#sec img{
    width: 400px;
}
#sec h1{
    color: var(--second-color);
    font-size: 50px;
}
#sec #col:nth-child(1){
    display: flex;
    justify-content: end;
}
#sec #col:nth-child(2){
    display: flex;
    justify-content: start;
    align-items: center;
}
#item p, #item b{
    color: var(--second-color);
}
#r1{
    width: 50%;
    height: 50%;
    float: left;
}
#r2{
    width: 50%;
    height: 50%;
    float: left;
}
#r3{
    width: 50%;
    height: 50%;
    float: left;
}
#r4{
    width: 50%;
    height: 50%;
    float: left;
}
.content{
    text-align: center;
}
#r1 img{
    width: 220px;
    height: 220px;
    margin-left: 55px;
}
#r2 img{
    width: 220px;
    height: 220px;
    margin-left: 55px;
}
#r3 img{
    width: 220px;
    height: 220px;
    margin-left: 55px;
}
#r4 img{
    width: 220px;
    height: 220px;
    margin-left: 55px;
}
footer{
    background-color: black;
    padding: 40px;
}
footer h1{
    font-size: 25px;
    font-weight: 300;
    color: white;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
}
footer .d-flex{
    width: 400px;
    height: 50px;
    justify-content: space-evenly;
    margin: auto;
}
footer img{
    width: 35px;
}
footer iframe{
    padding-top: 20px;
    margin: auto;
    display: flex;
}

footer p{
    font-size: 12px;
    color: #777777;
    text-align: center;
    padding-top: 20px;
}



@media only screen and (max-width: 1200px){
    #sec h1{
        font-size: 40px;
    }
}

@media only screen and (max-width: 992px){
    .nav-item a, .nav-item img{
        display: none;
    }
    #MENU1{
        display: block;
    }
    #sec #col{
        width: 100vw;
    }
    #sec h1{
        font-size: 25px;
        color: white;
    }
    #sec #img{
        width: 300px;
        height: auto;
    }
    #sec .row{
        display: block;
    }
    #sec #col:nth-child(1){
        width: 100%;
        justify-content: center;
        display: flex;
    }
    #sec #col:nth-child(2){
        display: flex;
        justify-content: center;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #item .row{
        display: block;
    }
    #item .col-sm-5, #item .col-sm-7{
        width: 100%;
    }
    #item .col-sm-7{
        display: flex;
        justify-content: space-between;
    }
    #item img{
        width: 150px;
        height: 150px;
        margin: auto;
    }
    #r1, #r2, #r3, #r4{
        width: 150px;
        height: 250px;
    }
    .col-sm-7 b, .col-sm-7 p{
        font-size: 14px;
    }
    footer h1{
        font-size: 25px;
    }
}

@media only screen and (max-width: 800px){
    footer .d-flex{
        width: 100%;
    }
    footer iframe{
        width: 100%;
        height: 250px;
    }
    footer{
        padding: 80px 10px;
    }
    #sec1 h1, footer h1{
        font-size: 20px;
    }
}


@media only screen and (max-width: 768px){
    #item img{
        width: 100px;
        height: 100px;
        margin: auto;
    }
    #r1, #r2, #r3, #r4{
        width: 100px;
        height: 250px;
    }
    .col-sm-7 b, .col-sm-7 p{
        font-size: 10px;
    }
}

@media only screen and (max-width: 425px){
    #item img{
        width: 70px;
        height: 70px;
        margin: auto;
    }
    #r1, #r2, #r3, #r4{
        width: 70px;
        height: 250px;
    }
    footer img{
        width: 30px;
    }
}